/* 定义字体 */
@font-face {
  font-family: 'MapleMono-CN-SemiBold';
  src: url('/fonts/MapleMono-CN-SemiBold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
    font-family: 'LogoFont';
    src: url('/fonts/Segoesc.woff2') format('woff2'); 
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MapleMono-CN-LightItalic';
    src: url('/fonts/MapleMono-CN-LightItalic.woff2') format('woff2'); 
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    /* 这里的 0.04 - 0.05 是非常浅的颜色，不会干扰阅读 */
    --vp-doc-blog-bg: rgba(100, 190, 190, 0.05); 
    --vp-blog-post-item-hover-border: rgba(80, 134, 161, 0.5);
    --vp-blog-post-item-hover-shadow: rgba(80, 134, 161, 0.2);
    /* 确保背景色是实色，遮挡底层可能存在的网格 */
    --vp-nav-bg-color: var(--vp-c-bg); 
    --vp-sidebar-bg-color: var(--vp-c-bg);
}

[data-theme="dark"] {
    --vp-doc-blog-bg: rgba(100, 190, 190, 0.03); /* 深色模式下更淡一点 */
}

/* --- 全局背景网格 --- */
.vp-navbar {
    background-color: var(--vp-nav-bg-color) !important;
    z-index: 20; /* 确保在最上层 */
}
.vp-sidebar {
    background-color: var(--vp-sidebar-bg-color) !important;
    z-index: 10;
}

body {
  font-family: 'MapleMono-CN-SemiBold', sans-serif;
  background-image:
    /* 横线 */
    linear-gradient(
      to bottom,
      transparent calc(1.2rem - 1px),
      var(--vp-doc-blog-bg) calc(1.2rem - 1px),
      var(--vp-doc-blog-bg) 1.2rem
    ),
    /* 竖线 */
    linear-gradient(
      to right,
      transparent calc(1.2rem - 1px),
      var(--vp-doc-blog-bg) calc(1.2rem - 1px),
      var(--vp-doc-blog-bg) 1.2rem
    );
  background-size: 1.2rem 1.2rem;
  background-attachment: fixed; 
}

/* 导航栏 */
.vp-navbar {
  .navbar-menu-link {
    font-size: 18px;
  }
}

/* 左上角logo */
.vp-navbar-title span{
    font-family: LogoFont, serif;
    font-weight: bolder;
    font-size: 1.4rem;
}

/* 博客页面 单个卡片效果 */
.vp-blog-post-item {
    background-color: var(--vp-c-bg); /* 卡片设为实色，防止背景线穿过文字 */
    transition: box-shadow 0.2s ease-out, border-color 0.2s ease-out !important;
    &:hover {
        box-shadow: 0 0 7px 2px var(--vp-blog-post-item-hover-shadow) !important;
        border: 1px var(--vp-blog-post-item-hover-border) solid;
    }
}