/* 定义字体 */
@font-face {
  font-family: 'MapleMono-CN-SemiBold';
  src: url('./fonts/MapleMono-CN-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'LogoFont'; /* 站名 字体 */
    src: url('./fonts/Segoesc.ttf') format('truetype'); /* TTF字体文件的路径 */
}

@font-face {
    font-family: 'MapleMono-CN-LightItalic'; /* 一言 字体 */
    src: url('./fonts/MapleMono-CN-LightItalic.ttf') format('truetype'); /* TTF字体文件的路径 */
}

/* 应用字体 */
body {
  font-family: 'MapleMono-CN-SemiBold';
}

/* 导航 */
.vp-navbar {
  .navbar-menu-link {
    font-size: 18px;
  }
}

/*左上角logo*/
.vp-navbar-title span{
    font-family: LogoFont, serif;
    font-weight: bolder;
    font-size: 1.4rem;
}